html {
  font-size: 0.9rem;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* 1rem = 16px */
  font-weight: 300;
  margin: 0;
  /* font-size: 2rem; */
}

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 0 2em;
}

h1,
h2 {
  font-weight: 300; 
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.6rem;
  margin-top: 0;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  
  padding: 0.5em 0;
  margin-bottom: .5em;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

.accent-text {
  display: block;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
  /* white-space: nowrap; */
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}

p {
  margin-bottom: 0;

}

a {
  color: #99D930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

.small-text {
  font-size: 1rem;
  margin-top: .3em;
} 

img {
  max-width: 100%;
}


header,
section {
  padding: 3.25em 0;
}

header {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.inverse {
  color: #fff;
  background: #252525;
}

.btn {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #99D930;
  padding: .625em 1.6em;
  margin-top: 1.6em;
}

.btn:hover,
.btn:focus {
  background: #252525;
  color: #fff;
}

@media (min-width: 600px) {
  html {
    font-size: 1.2125rem;
  }
}

@media (min-width: 750px) {
  .two-column {
    display: flex;
    justify-content: space-between;
  }

  .articles {
    background: #99D930;
    padding-left: 1em;
    color: #252525;
  }

  .articles .accent-text,
  .articles a,
  .articles .name,
  time {
    color: currentColor;
  }

  .articles a:hover,
  .articles a:focus {
    color: #fff;
  }
  
  .articles h2 {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
  }

  .articles .btn {
    background: #252525;
    color: #fff;
  }

  .articles .btn:hover,
  .articles .btn:focus {
    background: #fff;
    color: #99D930;
  }

  .portfolio {
    background: #252525;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;

  }

  .portfolio .container {
    max-width: 1200px;
  }

  .work {
    display: flex;
    justify-content: space-between;
  }

  .work .portfolio-item {
    width: 28%;
  }

  .portfolio-item img {
    height: 15em;
    width: 100%;
    object-fit: cover;
  }
}